<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380296858265-hqufau7nf68vg1jo05bkfmflnsc2jeo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380296858265-hqufau7nf68vg1jo05bkfmflnsc2jeo3</string>
	<key>API_KEY</key>
	<string>AIzaSyB__J1EW1z-hzoxpzMJkVikz6ULOEmBJPY</string>
	<key>GCM_SENDER_ID</key>
	<string>380296858265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.gonggongmarket</string>
	<key>PROJECT_ID</key>
	<string>gonggongmarket-348ec</string>
	<key>STORAGE_BUCKET</key>
	<string>gonggongmarket-348ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380296858265:ios:740176a0742943db6ec608</string>
</dict>
</plist>