<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604988574694-euhvfvkt1sdrmpf6flhhuuqtuhooi7ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604988574694-euhvfvkt1sdrmpf6flhhuuqtuhooi7ah</string>
	<key>API_KEY</key>
	<string>AIzaSyAO7P3C5MaEHR19jiRiVCYAdezrvn5wqhE</string>
	<key>GCM_SENDER_ID</key>
	<string>604988574694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.devlabangtv</string>
	<key>PROJECT_ID</key>
	<string>devlabangtv</string>
	<key>STORAGE_BUCKET</key>
	<string>devlabangtv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604988574694:ios:c2a545cd3e6929a58aa427</string>
</dict>
</plist>