<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858575664108-rp2qlhocpcm4oc7gr9hpn7gcct1gk858.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858575664108-rp2qlhocpcm4oc7gr9hpn7gcct1gk858</string>
	<key>API_KEY</key>
	<string>AIzaSyBh3HlKTIewDJbKO8Xw4or7ZV9sW3gsNRA</string>
	<key>GCM_SENDER_ID</key>
	<string>858575664108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.allshoppinglive</string>
	<key>PROJECT_ID</key>
	<string>allshoppinglive</string>
	<key>STORAGE_BUCKET</key>
	<string>allshoppinglive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858575664108:ios:ad38144fd4eca6a13406c9</string>
</dict>
</plist>