<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489688372279-57cqcetc62f6gal8d2160mr0ln9l3kv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489688372279-57cqcetc62f6gal8d2160mr0ln9l3kv9</string>
	<key>API_KEY</key>
	<string>AIzaSyCpiMJ2guy4SKVBYfoNEZYEmt_l5KzR6zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>489688372279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.hellomeat</string>
	<key>PROJECT_ID</key>
	<string>hellomeat-cab0a</string>
	<key>STORAGE_BUCKET</key>
	<string>hellomeat-cab0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489688372279:ios:60e42b95d1739bb487dbb2</string>
</dict>
</plist>