<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>태그비 브랜드</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tagbscheme</string>
				<string>kakao5c42e5e90f1143fd42d5f68b9a8d4b7f</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>597519710746611</string>
	<key>FacebookDisplayName</key>
	<string>태그비 브랜드</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>KAKAO_APP_KEY</key>
	<string>5c42e5e90f1143fd42d5f68b9a8d4b7f</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>payco</string>
		<string>paycoapplogin</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>mpocket.online.ansimclick</string>
		<string>scardcertiapp</string>
		<string>cloudpay</string>
		<string>nhappcardansimclick</string>
		<string>nhallonepayansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>hanaskcardmobileportal</string>
		<string>lotteappcard</string>
		<string>lottesmartpay</string>
		<string>kb-acp</string>
		<string>ispmobile</string>
		<string>citicardappkr</string>
		<string>citispay</string>
		<string>citimobileapp</string>
		<string>wooripay</string>
		<string>kakaolink</string>
		<string>storylink</string>
		<string>lguthepay</string>
		<string>lguthepay-xpay</string>
		<string>smartxpay-transfer</string>
		<string>ansimclickscard</string>
		<string>tswansimclick</string>
		<string>ansimclickipcollect</string>
		<string>vguardstart</string>
		<string>samsungpay</string>
		<string>uppay</string>
		<string>paypin</string>
		<string>shinsegaeeasypayment</string>
		<string>naversearchapp</string>
		<string>lpayapp</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>naversearchthirdlogin</string>
		<string>kpay</string>
		<string>kftc-bankpay</string>
		<string>bankwallet</string>
		<string>ukbanksmartbanknonloginpay</string>
		<string>kdb-bankpay</string>
		<string>ibk-bankpay</string>
		<string>kb-bankpay</string>
		<string>keb-bankpay</string>
		<string>sh-bankpay</string>
		<string>nhb-bankpay</string>
		<string>nh-bankpay</string>
		<string>wr-bankpay</string>
		<string>sc-bankpa</string>
		<string>s-bankpay</string>
		<string>ct-bankpay</string>
		<string>dg-bankpay</string>
		<string>bnk-bankpay</string>
		<string>kj-bankpay</string>
		<string>jj-bankpay</string>
		<string>jb-bankpay</string>
		<string>kn-bankpay</string>
		<string>kp-bankpay</string>
		<string>cu-bankpay</string>
		<string>mg-bankpay</string>
		<string>kbn-bankpay</string>
		<string>kkb-bankpay</string>
		<string>kakao5c42e5e90f1143fd42d5f68b9a8d4b7f</string>
		<string>kakaotalk</string>
		<string>shinhan-sr-ansimclick-payco</string>
		<string>shinhan-sr-ansimclick-naverpay</string>
		<string>hanawalletmembers</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>상품을 등록할 때 촬영할 수 있습니다. 서비스를 위해 카메라에 접근합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>앱을 열때마다 위치주소 가져오기 허용합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>유튜브 동영상 촬영 시에 사용됩니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>상품 및 이미지 등록을 위해 사진첩에 접근합니다.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
