<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452209656590-q76sj5rabl63eneml3clpeugtr5r831a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452209656590-q76sj5rabl63eneml3clpeugtr5r831a</string>
	<key>API_KEY</key>
	<string>AIzaSyAnQvKMDQc8G_Q0_urmUWT3r3Xs9uNbK0U</string>
	<key>GCM_SENDER_ID</key>
	<string>452209656590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.munge</string>
	<key>PROJECT_ID</key>
	<string>mungemarket-1ede8</string>
	<key>STORAGE_BUCKET</key>
	<string>mungemarket-1ede8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452209656590:ios:c42252d671df7882e70d5f</string>
</dict>
</plist>