<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254353469821-6u9mclg3l11daetbhe5d5vmcv329t2tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254353469821-6u9mclg3l11daetbhe5d5vmcv329t2tr</string>
	<key>API_KEY</key>
	<string>AIzaSyD7lufTmq_rTH0q818bqjkVUgPNKFlgQe4</string>
	<key>GCM_SENDER_ID</key>
	<string>254353469821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.sungsimdang</string>
	<key>PROJECT_ID</key>
	<string>sungsimdang-d7924</string>
	<key>STORAGE_BUCKET</key>
	<string>sungsimdang-d7924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254353469821:ios:be7eb724bdf6a290185c14</string>
	<key>DATABASE_URL</key>
	<string>https://sungsimdang-d7924.firebaseio.com</string>
</dict>
</plist>