<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813639299840-9p1ln0aab4eqhkidfu6bhr9s3n3af8cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813639299840-9p1ln0aab4eqhkidfu6bhr9s3n3af8cb</string>
	<key>API_KEY</key>
	<string>AIzaSyDP_jrH_OE2bVRDJa-E7yppXtWr0e54UBY</string>
	<key>GCM_SENDER_ID</key>
	<string>813639299840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.admin.zhangbayo</string>
	<key>PROJECT_ID</key>
	<string>zhangbayoadmin</string>
	<key>STORAGE_BUCKET</key>
	<string>zhangbayoadmin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813639299840:ios:f3fb66897bfc7ae18e79e5</string>
	<key>DATABASE_URL</key>
	<string>https://zhangbayoadmin.firebaseio.com</string>
</dict>
</plist>