<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062547509703-c9ck1vctp832jvbte8q9jk7s4ljt22l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062547509703-c9ck1vctp832jvbte8q9jk7s4ljt22l3</string>
	<key>API_KEY</key>
	<string>AIzaSyCQL-1gugEFRDvGDgSFcaugadAOZE37t7I</string>
	<key>GCM_SENDER_ID</key>
	<string>1062547509703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.metaceleb</string>
	<key>PROJECT_ID</key>
	<string>metaceleb-5c268</string>
	<key>STORAGE_BUCKET</key>
	<string>metaceleb-5c268.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062547509703:ios:9dbdea8d64504bceb4c9e2</string>
</dict>
</plist>