<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647407569050-d3odr6ggndc2g37sqfp577p7j8o16gu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647407569050-d3odr6ggndc2g37sqfp577p7j8o16gu7</string>
	<key>API_KEY</key>
	<string>AIzaSyBdzuhqHUrJcmAhZPE_tbZ_FpOT1yPLJNg</string>
	<key>GCM_SENDER_ID</key>
	<string>647407569050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.withmoyeola</string>
	<key>PROJECT_ID</key>
	<string>withmoyeola-ab2a1</string>
	<key>STORAGE_BUCKET</key>
	<string>withmoyeola-ab2a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647407569050:ios:13f4ba9137d656ea8b3723</string>
</dict>
</plist>