<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao20a5a19074892fea22a99d21dc8cfb37</string>
				<string>koreamedischeme</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>597519710746611</string>
	<key>FacebookDisplayName</key>
	<string>KOREAMEDI</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>KAKAO_APP_KEY</key>
	<string>20a5a19074892fea22a99d21dc8cfb37</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kb-bankpay</string>
		<string>nhb-bankpay</string>
		<string>mg-bankpay</string>
		<string>kn-bankpay</string>
		<string>SmartBank2WB</string>
		<string>lguthepay-xpay</string>
		<string>kftc-bankpay</string>
		<string>shinhan-sr-ansimclick-payco</string>
		<string>shinhan-sr-ansimclick-naverpay</string>
		<string>wooripay</string>
		<string>citimobileapp</string>
		<string>nhallonepayansimclick</string>
		<string>lotteappcard</string>
		<string>cloudpay</string>
		<string>hanawalletmembers</string>
		<string>mpocket.online.ansimclick</string>
		<string>shinhan-sr-ansimclick</string>
		<string>hdcardappcardansimclick</string>
		<string>lpayapp</string>
		<string>payco</string>
		<string>kakaotalk</string>
		<string>shinsegaeeasypayment</string>
		<string>ispmobile</string>
		<string>kb-acp</string>
		<string>itms-appss</string>
		<string>com.wooricard.wcard</string>
		<string>newsmartpib</string>
		<string>kakao20a5a19074892fea22a99d21dc8cfb37</string>
		<string>kakaolink</string>
		<string>kakaokompassauth</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
