<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711405401610-ih0nf606f71316t4l2hasskjkffvsjkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711405401610-ih0nf606f71316t4l2hasskjkffvsjkr</string>
	<key>API_KEY</key>
	<string>AIzaSyALXj5Qi2o-7u5rr5X3863_asWtrAuC9-M</string>
	<key>GCM_SENDER_ID</key>
	<string>711405401610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.domelive</string>
	<key>PROJECT_ID</key>
	<string>domelive-cc655</string>
	<key>STORAGE_BUCKET</key>
	<string>domelive-cc655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711405401610:ios:9c91ebd389d0d8d585d1f3</string>
</dict>
</plist>