<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAn8WyyJQJT0vwGv0_5KHb-FeAC661M6k0</string>
	<key>GCM_SENDER_ID</key>
	<string>845511866101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.2bepet</string>
	<key>PROJECT_ID</key>
	<string>bpet-1b879</string>
	<key>STORAGE_BUCKET</key>
	<string>bpet-1b879.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845511866101:ios:584b80d677af1c2143f7bc</string>
</dict>
</plist>