<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514053398961-1mgp493tj2lkh49ivmrek00s31gbnnir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514053398961-1mgp493tj2lkh49ivmrek00s31gbnnir</string>
	<key>API_KEY</key>
	<string>AIzaSyAAkGSXmHaC9rxT26FcnIQyFrKGuGKynUI</string>
	<key>GCM_SENDER_ID</key>
	<string>514053398961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.jejutv</string>
	<key>PROJECT_ID</key>
	<string>jejutv-8d082</string>
	<key>STORAGE_BUCKET</key>
	<string>jejutv-8d082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514053398961:ios:97e1134d48caa29cac1d90</string>
</dict>
</plist>