<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736279782675-bujqrgj1g5orefhfqrm5n01d9f5sfjc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736279782675-bujqrgj1g5orefhfqrm5n01d9f5sfjc8</string>
	<key>API_KEY</key>
	<string>AIzaSyBp3Of-iTB5X5yCLsu9rcs35GYwymEPsu0</string>
	<key>GCM_SENDER_ID</key>
	<string>736279782675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.modooticketapp</string>
	<key>PROJECT_ID</key>
	<string>modooticket-a4e2e</string>
	<key>STORAGE_BUCKET</key>
	<string>modooticket-a4e2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736279782675:ios:111b620e87a0948929e6e6</string>
</dict>
</plist>