<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877659973919-ktb4irldvk9j4vnp4a1mqnbc7n293dqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877659973919-ktb4irldvk9j4vnp4a1mqnbc7n293dqp</string>
	<key>API_KEY</key>
	<string>AIzaSyD5HxaGRUaNFxrv6RfTOEU7kPH42jgIAXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>877659973919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.modooticket</string>
	<key>PROJECT_ID</key>
	<string>modooticket</string>
	<key>STORAGE_BUCKET</key>
	<string>modooticket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877659973919:ios:a76c2f51b3ed5eb859a82a</string>
</dict>
</plist>