<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429529338254-be60l0o9oskga7qd685clu79e3gfftst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429529338254-be60l0o9oskga7qd685clu79e3gfftst</string>
	<key>API_KEY</key>
	<string>AIzaSyB6f1DjmyRmA1lXB2HlybT9W_te2uBBdf8</string>
	<key>GCM_SENDER_ID</key>
	<string>429529338254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.migemme</string>
	<key>PROJECT_ID</key>
	<string>migemme</string>
	<key>STORAGE_BUCKET</key>
	<string>migemme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429529338254:ios:03c362aca27f1baa9954df</string>
	<key>DATABASE_URL</key>
	<string>https://migemme.firebaseio.com</string>
</dict>
</plist>