<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159548155790-n361hfhd9vt4057a2mifdjauij9k74ap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159548155790-n361hfhd9vt4057a2mifdjauij9k74ap</string>
	<key>API_KEY</key>
	<string>AIzaSyCYnh5gZYtzJk-Bo8sc30LPapu2XJc9uro</string>
	<key>GCM_SENDER_ID</key>
	<string>159548155790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.banhal</string>
	<key>PROJECT_ID</key>
	<string>banhal</string>
	<key>STORAGE_BUCKET</key>
	<string>banhal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159548155790:ios:c9f3634a1932f4925fa6df</string>
</dict>
</plist>