<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805443314905-6a5k4hclu8rekosf05mfhfjd37slam56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805443314905-6a5k4hclu8rekosf05mfhfjd37slam56</string>
	<key>API_KEY</key>
	<string>AIzaSyD3GIutSBQVhPwqaHWisjwWp6IMIhXOuT4</string>
	<key>GCM_SENDER_ID</key>
	<string>805443314905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.tachi</string>
	<key>PROJECT_ID</key>
	<string>tachi-60d44</string>
	<key>STORAGE_BUCKET</key>
	<string>tachi-60d44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805443314905:ios:7446f9d4590714ba8d4ac8</string>
</dict>
</plist>