<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBs4pJlHwc50lp7655p8PkMvowsv-kTYi0</string>
	<key>GCM_SENDER_ID</key>
	<string>819045921904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.gonggumom</string>
	<key>PROJECT_ID</key>
	<string>gonggumom-b491e</string>
	<key>STORAGE_BUCKET</key>
	<string>gonggumom-b491e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819045921904:ios:9335f6a8204cf67a4230b5</string>
</dict>
</plist>