<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38389930978-s487neorhc2i82nq54ag8tngeapvht6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38389930978-s487neorhc2i82nq54ag8tngeapvht6e</string>
	<key>API_KEY</key>
	<string>AIzaSyDyD46ATokkjyOIa7VEr4SPpym6pdN9xTY</string>
	<key>GCM_SENDER_ID</key>
	<string>38389930978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.thenpay</string>
	<key>PROJECT_ID</key>
	<string>thenpay-b6b40</string>
	<key>STORAGE_BUCKET</key>
	<string>thenpay-b6b40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38389930978:ios:073c33f5fbae8bc02ff7bb</string>
</dict>
</plist>