<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926779832120-0il77c8ot07d02se58u7urir1j3i84vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926779832120-0il77c8ot07d02se58u7urir1j3i84vg</string>
	<key>API_KEY</key>
	<string>AIzaSyCvav6ziHnJgVRxrcne1_BMjsbstewCMv4</string>
	<key>GCM_SENDER_ID</key>
	<string>926779832120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.pandaya</string>
	<key>PROJECT_ID</key>
	<string>pandaya-a21cc</string>
	<key>STORAGE_BUCKET</key>
	<string>pandaya-a21cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926779832120:ios:ab4df820b798e9945df3cd</string>
</dict>
</plist>