<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80448741468-0qavi3t3cj34v5bn2gacr65enousdn4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80448741468-0qavi3t3cj34v5bn2gacr65enousdn4a</string>
	<key>API_KEY</key>
	<string>AIzaSyCemiRM2U-JmsimOPDAFdA7NbbtgIQT3S4</string>
	<key>GCM_SENDER_ID</key>
	<string>80448741468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.tgsmall</string>
	<key>PROJECT_ID</key>
	<string>tgsmall</string>
	<key>STORAGE_BUCKET</key>
	<string>tgsmall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80448741468:ios:486f2a4c558fe484c38699</string>
</dict>
</plist>