<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311763945961-pkqfk1212eaeuafg4v3pjkok66is8ss9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311763945961-pkqfk1212eaeuafg4v3pjkok66is8ss9</string>
	<key>API_KEY</key>
	<string>AIzaSyC5gVpGUZOM1JslkVIXS0-OK6Ytu8WvwyY</string>
	<key>GCM_SENDER_ID</key>
	<string>311763945961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.podoalglobal</string>
	<key>PROJECT_ID</key>
	<string>podoalglobal</string>
	<key>STORAGE_BUCKET</key>
	<string>podoalglobal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311763945961:ios:af59040913116603ba2378</string>
</dict>
</plist>