<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223660325758-u7tofgs36np6rttuhrhkk6ci179q1qvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223660325758-u7tofgs36np6rttuhrhkk6ci179q1qvr</string>
	<key>API_KEY</key>
	<string>AIzaSyAO08egnNNJgRFJ1o8VDRZTiqI8jIGoAKc</string>
	<key>GCM_SENDER_ID</key>
	<string>223660325758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gollala.app</string>
	<key>PROJECT_ID</key>
	<string>wise-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>wise-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223660325758:ios:bae3213beaa5b98b79512f</string>
	<key>DATABASE_URL</key>
	<string>https://wise-prod.firebaseio.com</string>
</dict>
</plist>