<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>피그마켓.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DA52A1D74EE54DB9A845067F59BF53FD61D2C9DC</string>
				<key>dateExpires</key>
				<string>2022/04/02</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA52A1D74EE54DB9A845067F59BF53FD61D2C9DC</string>
						<key>dateExpires</key>
						<string>2022/04/02</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AC2B37E968</string>
						<key>name</key>
						<string>Tom Apparel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA52A1D74EE54DB9A845067F59BF53FD61D2C9DC</string>
						<key>dateExpires</key>
						<string>2022/04/02</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AC2B37E968</string>
						<key>name</key>
						<string>Tom Apparel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA52A1D74EE54DB9A845067F59BF53FD61D2C9DC</string>
						<key>dateExpires</key>
						<string>2022/04/02</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AC2B37E968</string>
						<key>name</key>
						<string>Tom Apparel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA52A1D74EE54DB9A845067F59BF53FD61D2C9DC</string>
						<key>dateExpires</key>
						<string>2022/04/02</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AC2B37E968</string>
						<key>name</key>
						<string>Tom Apparel</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AC2B37E968.com.admin.pigmarketapp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>AC2B37E968</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Pigmarket.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a4096053-a4b2-4974-947d-b7a0edc9a225</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.admin.pigmarketapp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AC2B37E968</string>
				<key>name</key>
				<string>Tom Apparel</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
