<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>더하나.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
				<key>dateExpires</key>
				<string>2022/10/21</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H4WW9QRXUN</string>
						<key>name</key>
						<string>wadinternational Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GPUImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H4WW9QRXUN</string>
						<key>name</key>
						<string>wadinternational Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H4WW9QRXUN</string>
						<key>name</key>
						<string>wadinternational Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H4WW9QRXUN</string>
						<key>name</key>
						<string>wadinternational Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H4WW9QRXUN</string>
						<key>name</key>
						<string>wadinternational Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKUser.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H4WW9QRXUN</string>
						<key>name</key>
						<string>wadinternational Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H4WW9QRXUN</string>
						<key>name</key>
						<string>wadinternational Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H4WW9QRXUN</string>
						<key>name</key>
						<string>wadinternational Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libksygpulive.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H4WW9QRXUN</string>
						<key>name</key>
						<string>wadinternational Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H4WW9QRXUN</string>
						<key>name</key>
						<string>wadinternational Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DC327ECC9BAE508C8FF7D62EF48F6FD81E320ED</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>H4WW9QRXUN.com.byapps.thehana.NotificationServiceExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>H4WW9QRXUN</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>H4WW9QRXUN.com.byapps.thehana.NotificationServiceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>5eeedd16-435b-4b63-b25c-6183fb14e637</string>
						<key>dateExpires</key>
						<string>2022/10/21</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.byapps.thehana.NotificationServiceExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H4WW9QRXUN</string>
						<key>name</key>
						<string>wadinternational Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H4WW9QRXUN.com.byapps.thehana</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>H4WW9QRXUN</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Thehana.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c46155ea-f078-4077-aabb-f1267714f047</string>
				<key>dateExpires</key>
				<string>2022/10/21</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.byapps.thehana</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H4WW9QRXUN</string>
				<key>name</key>
				<string>wadinternational Co.,Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2</string>
		</dict>
	</array>
</dict>
</plist>
