<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128975721070-e01qtcmouqfvmhk876mj5v9djmogm5na.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128975721070-e01qtcmouqfvmhk876mj5v9djmogm5na</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>128975721070-4k2jpph99b7p3h0r7d2gasjiq4djlflg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCc5N6qRVyl7LNwD93wh_ed4pOklgXxVo</string>
	<key>GCM_SENDER_ID</key>
	<string>128975721070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.talktalklive.ios</string>
	<key>PROJECT_ID</key>
	<string>moykomiks-a3364</string>
	<key>STORAGE_BUCKET</key>
	<string>moykomiks-a3364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128975721070:ios:15bb558471a55c8358cc7f</string>
</dict>
</plist>