<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264093244817-mbe76konkcoijaui5tudmeg5gug1prhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264093244817-mbe76konkcoijaui5tudmeg5gug1prhd</string>
	<key>API_KEY</key>
	<string>AIzaSyCLlFTjOrSa2nIpbifMWL7wf2XatYvrmSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>264093244817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.unnitv</string>
	<key>PROJECT_ID</key>
	<string>unnitv-6d5b5</string>
	<key>STORAGE_BUCKET</key>
	<string>unnitv-6d5b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264093244817:ios:716c9515af14f8f5010e30</string>
	<key>DATABASE_URL</key>
	<string>https://unnitv-6d5b5.firebaseio.com</string>
</dict>
</plist>