<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcbQZRNAkWEX4RNbqsjPD2p9SD2h7gq-4</string>
	<key>GCM_SENDER_ID</key>
	<string>1096374398399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.artlian</string>
	<key>PROJECT_ID</key>
	<string>artlian-caf86</string>
	<key>STORAGE_BUCKET</key>
	<string>artlian-caf86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096374398399:ios:ad3ca9e6958f8311cc450a</string>
</dict>
</plist>