<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188366343384-5nm4jslg7b312deq8jsoh7bget0ud8ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188366343384-5nm4jslg7b312deq8jsoh7bget0ud8ou</string>
	<key>API_KEY</key>
	<string>AIzaSyAZcWxb0Zr_G3rKxOP8GI-Y3PLCDzA6gV8</string>
	<key>GCM_SENDER_ID</key>
	<string>188366343384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gollala.app</string>
	<key>PROJECT_ID</key>
	<string>gollala-live-d591b</string>
	<key>STORAGE_BUCKET</key>
	<string>gollala-live-d591b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188366343384:ios:d59aad4548afc1c8a25bad</string>
</dict>
</plist>