<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745425839415-1b666q9iq2oucu15dhfu2ji8hg3ntc2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745425839415-1b666q9iq2oucu15dhfu2ji8hg3ntc2h</string>
	<key>API_KEY</key>
	<string>AIzaSyBH3LCOP3vNUobTiRPszf3GjOHANDjTGJk</string>
	<key>GCM_SENDER_ID</key>
	<string>745425839415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.doctorb</string>
	<key>PROJECT_ID</key>
	<string>doctorb-530b3</string>
	<key>STORAGE_BUCKET</key>
	<string>doctorb-530b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745425839415:ios:ee0aed6299be4b606ca6b2</string>
</dict>
</plist>