<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739073111423-tpt3innttj4bf22jle8csospjdjhll7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739073111423-tpt3innttj4bf22jle8csospjdjhll7f</string>
	<key>API_KEY</key>
	<string>AIzaSyATMvjPi0d-Dc5eNvwqeF-1LNpA4oKp-VE</string>
	<key>GCM_SENDER_ID</key>
	<string>739073111423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.zhangbayo</string>
	<key>PROJECT_ID</key>
	<string>zhangbayo-41161</string>
	<key>STORAGE_BUCKET</key>
	<string>zhangbayo-41161.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739073111423:ios:fd3d623ef0de6844d0564a</string>
	<key>DATABASE_URL</key>
	<string>https://zhangbayo-41161.firebaseio.com</string>
</dict>
</plist>