<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726011932146-b0ancfe6t46fvths1rs487c70imn2p8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726011932146-b0ancfe6t46fvths1rs487c70imn2p8i</string>
	<key>API_KEY</key>
	<string>AIzaSyBk3lAyjIdgx2hP2enRW8chtJLhGRGcwy8</string>
	<key>GCM_SENDER_ID</key>
	<string>726011932146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.cupidhour</string>
	<key>PROJECT_ID</key>
	<string>cupidhour</string>
	<key>STORAGE_BUCKET</key>
	<string>cupidhour.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726011932146:ios:b9b46174a7e03174c74f6b</string>
</dict>
</plist>