<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397054880567-llio8blosd5nc4tn4mopfrs3onqnbhq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397054880567-llio8blosd5nc4tn4mopfrs3onqnbhq5</string>
	<key>API_KEY</key>
	<string>AIzaSyD4RqhThv6htBNqoX3_tTLzzUWZjRjn36Y</string>
	<key>GCM_SENDER_ID</key>
	<string>397054880567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.ganaahn</string>
	<key>PROJECT_ID</key>
	<string>ganaahn-38fc0</string>
	<key>STORAGE_BUCKET</key>
	<string>ganaahn-38fc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397054880567:ios:e0b7e265f6e7d47c9a48b2</string>
</dict>
</plist>