<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787817860618-n7f9tr4l2sc30po09v5g3rkimkut7a4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787817860618-n7f9tr4l2sc30po09v5g3rkimkut7a4f</string>
	<key>API_KEY</key>
	<string>AIzaSyBZi44TcjOOtgtOTFvkEfyuNQtCZCW4TUM</string>
	<key>GCM_SENDER_ID</key>
	<string>787817860618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.doctorbwalletapp</string>
	<key>PROJECT_ID</key>
	<string>doctorbwallet</string>
	<key>STORAGE_BUCKET</key>
	<string>doctorbwallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787817860618:ios:c43990146fcd1ef4b0d9f3</string>
</dict>
</plist>