<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957140885142-74e7sc0mpbioq20iel8ono21g07da3rb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957140885142-74e7sc0mpbioq20iel8ono21g07da3rb</string>
	<key>API_KEY</key>
	<string>AIzaSyD7L6bPfANNTik9fNdiUFkoKuJkJmNvLLU</string>
	<key>GCM_SENDER_ID</key>
	<string>957140885142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creator.freshfarm</string>
	<key>PROJECT_ID</key>
	<string>freshfarm-9e570</string>
	<key>STORAGE_BUCKET</key>
	<string>freshfarm-9e570.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957140885142:ios:81b04e1179a1f31ee4acb7</string>
</dict>
</plist>