<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142963916078-9hbv95oparnf0og0mj5jf9j0dm61km0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142963916078-9hbv95oparnf0og0mj5jf9j0dm61km0v</string>
	<key>API_KEY</key>
	<string>AIzaSyCsyLZ2jqUocyu6ZceD7MYzVqjHQlsQb1I</string>
	<key>GCM_SENDER_ID</key>
	<string>142963916078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.borisoo</string>
	<key>PROJECT_ID</key>
	<string>borisoo</string>
	<key>STORAGE_BUCKET</key>
	<string>borisoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142963916078:ios:37a9393882da710c8acebf</string>
</dict>
</plist>