<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677179236553-jlrvkitjpppf6oj2hhi1q2ijtqp8dihi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677179236553-jlrvkitjpppf6oj2hhi1q2ijtqp8dihi</string>
	<key>API_KEY</key>
	<string>AIzaSyAr8wJ1hfaajIYGI-HMV1jra9XiMU_K_GU</string>
	<key>GCM_SENDER_ID</key>
	<string>677179236553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.sourceshopping</string>
	<key>PROJECT_ID</key>
	<string>sourceshopping-e50e0</string>
	<key>STORAGE_BUCKET</key>
	<string>sourceshopping-e50e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677179236553:ios:992d8104bd174ca402ed18</string>
	<key>DATABASE_URL</key>
	<string>https://sourceshopping-e50e0.firebaseio.com</string>
</dict>
</plist>