<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741191802305-3fmh091qfmf95fooq45l4emi3l2hhok8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741191802305-3fmh091qfmf95fooq45l4emi3l2hhok8</string>
	<key>API_KEY</key>
	<string>AIzaSyDRDnHRtnRKGJ3Ky2D4ZlbVuQJ2AsCkXuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>741191802305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallup.nicecaddy</string>
	<key>PROJECT_ID</key>
	<string>nicecaddy-23cd4</string>
	<key>STORAGE_BUCKET</key>
	<string>nicecaddy-23cd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741191802305:ios:b8e6fb77430270f7f52340</string>
</dict>
</plist>